.header {
    color: white;
    display: flex;
    justify-content: flex-end;
}

.container {
    padding: 2.4rem;
}

@media screen and (min-width:425px) {
    .header {
        position: fixed;
        z-index: 99;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #2c2d2d;
    }

    .container {
        padding: 4rem;
    }
}