.nav {
  max-width: 144rem;
}

.navList {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2rem;
  text-transform: uppercase;
  padding-left: 20%;
  padding-top: 15%;
}

.navListItem {
  font-size: 2.2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  letter-spacing: 1px;
  position: relative;
  background-image: linear-gradient(rgb(114, 226, 174), rgb(114, 226, 174));
  background-size: 0% 4px;
  background-repeat: no-repeat;
  background-position-y: 38px;
  transition: all 0.5s ease;
}

.navListItem:hover {
  cursor: pointer;
  background-size: 100% 4px;
  transition: all 0.5s ease;
}

.number {
  padding-right: 1rem;
  color: var(--lightGreen);
  font-size: 2.2rem;
}


@media screen and (min-width: 425px) {

  .navList {
    flex-direction: row;
    padding: 0;
  }

  .navListItem {
    font-size: 1.6rem;
    letter-spacing: 1px;
  }

  .number {
    padding-right: 0.5rem;
    font-size: 1.8rem;
  }
}

@media screen and (min-width:1440px) {
  .navListItem {
    font-size: 2.2rem;
  }

  .number {
    padding-right: 1rem;
    font-size: 2.4rem;
  }

  .navList {
    gap: 4rem;
  }
}